<html>
    <head>
        <title>Africana</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
       
    </head>
    <body>
       <div class="ui fixed inverted menu">
           <div class="ui container">
               <div class="header item"><i class="meh icon"></i>Africana Blog</div>
          
               <a href = "/" class = "item">Home</a>
               <a href = "/blogs/new" class = "item">New Post</a>
            </div>
       </div>
        
        
        
        
   












